<header>
    <div class="header-wrapper">
        <h1 class="header-title">Buscador de series</h1>
        <nav>
            <ul class="header-list">
                <li>
                    <a>Home</a>
                </li>
                <li>
                    <form>
                        <input id="titleInput" type="text" placeholder="Title">
                        <button type="button" id="searchBtn">Search</button>
                    </form>
                </li>
            </ul>
        </nav>
    </div>
</header>